.navbar-seto {
  background: white;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.nav-link{
  display: inline;
}

.navbar-seto .navbar-brand img {
  width: 40px;
}
.navbar-avatar > ul {
  list-style: none;
  margin: 0;
}
@media screen and (min-width: 577px){
  .nav-link {
  font-size: 1.5rem;
  }
}
